.logo {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-2xl);
  line-height: var(--lh---ln-200);
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: var(--clr-white);
}

.footerLogo {
  color: var(--landing-color-brownDark);
  text-align: center;
  display: block;
  margin-bottom: var(--size-500);
}

@media screen and (min-width: 30em) {
  .logo {
    color: var(--landing-clr-primary);
    margin-right: 0.5rem;
  }
  .footerLogo {
    font-family: var(--ff-primary); /* Merriweather */
    font-weight: var(--fw-bold); /* 700 */
    font-size: var(
      --fs-2xl
    ); /* Asumiendo que esto se acerca a 34px, ya que es 2.125rem */
    line-height: var(--ln-200); /* 25px */
    letter-spacing: 0.125rem; /* 2px convertido a rem */
    color: var(--landing-color-brownDark); /* #534B42 */
  }
}
