.heading {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.columnContent {
  padding-block: 1.25rem;
  padding-inline: 0.5em;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: auto;
  column-gap: 1.2rem;
}

.indicatorsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
}
