.carouselItem {
  flex: 0 0 auto; /* Prevents the items from growing or shrinking */
  border-radius: 20px; /* Rounded corners for aesthetics */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow */
  overflow: hidden; /* Ensures the content is clipped to the border radius */
}

.carouselImage {
  width: 100%;
  height: auto;
  display: block;
}

.specialCarouselImage {
  max-width: none;
  height: 400px;
  width: 250px;
  aspect-ratio: 16/9;
}

.carouselItem:first-child,
.carouselItem:last-child {
  transform-origin: center right; /* Ajusta el origen de la transformación para el primer elemento */
}

.carouselItem:last-child {
  transform-origin: center left; /* Ajusta el origen de la transformación para el último elemento */
}

.scroller {
  background-color: var(--clr-white);
  position: relative;
  overflow: hidden; /* Asegúrate de que el contenedor .scroller oculta los desbordamientos */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.scroller::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento para navegadores WebKit */
}

.scrollerInner {
  display: flex;
  padding-block: 1rem; /* Espaciado superior e inferior */
  column-gap: 20px; /* Espacio entre elementos */
  position: relative;
  animation: scroll 15s linear infinite; /* Ajustado para ser más lento y lineal */
}

@keyframes scroll {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1630px); /* Ajusta este valor según el ancho total */
  }
}
