.heroContentContainer {
  text-align: center;
  max-width: 35ch;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.heroSubtitle {
  color: var(--clr-white);
  font-size: var(--fs-small);
  font-family: var(--ff-secondary);
}

.heroTitle {
  color: var(--clr-white);
  font-size: var(--fs-xxlarge);
  font-family: var(--ff-primary);
}

.heroDescription {
  color: #f7f8f9;
  font-size: var(--fs-large);
  font-family: var(--ff-secondary);
}

.scrollDownIcon {
  width: 3.125em;
  height: 3.125em;
  align-self: center;
}
