/* .itemScroller,
.itemGroup {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.25rem;
  background-color: var(--clr-white);
} */

/* .itemScroller {
  grid-auto-columns: 100%;
  overflow-x: hidden;
  padding-bottom: var(--size-500);
} */

/* .itemGroup {
  grid-auto-columns: 1fr;
  position: relative;
  right: 2rem;
  transition: transform 0.5s ease-in-out; 
} */

.itemScroller {
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
}

.itemGroup {
  white-space: nowrap;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
