/* .carouselItem {
  flex: 0 0 auto;
  width: 250px;
  scroll-snap-align: start;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.carouselImage {
  width: 100%;
  height: auto;
  display: block;
}

.specialCarouselImage {
  max-width: none;
  height: 400px;
  width: 250px;
} */
.carouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #fff;
}

/* Optional: Add hover effect for carousel items */
.carouselItem:hover {
  transform: scale(1.03); /* Slight zoom effect */
  transition: transform 0.3s ease-in-out;
}
