.heading {
  font-family: var(--ff-primary);
  line-height: 40px;
  font-size: var(--fs-2xl);
  color: var(--landing-color-brownDark);
}

@media screen and (min-width: 30em) {
  .heading {
    color: var(--landing-clr-secondary);
    line-height: 60px;
    font-size: var(--fs-3xl);
    max-width: 14ch;
    padding-right: 6px;
  }
}

@media screen and (min-width: 60em) {
  .heading {
    color: var(--landing-clr-secondary);
    line-height: 60px;
    font-size: var(--fs-4xl);
    max-width: 14ch;
  }
}
