.blockContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-300);
}

.heading {
  font-family: var(--ff-primary);
  color: var(--landing-color-brownDark);
  font-size: var(--fs-2xl);
  line-height: var(--lh-400);
  letter-spacing: var(--ls-400);
}

.description {
  font-family: var(--ff-secondary);
  color: var(--landing-clr-tertiary);
  font-size: var(--fs-large);
  line-height: var(--ln-200);
}

@media screen and (min-width: 30em) {
  .blockContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .heading {
    font-size: var(--fs-3xl);
    font-weight: var(--fw-light);
  }

  .description {
    max-width: 40ch;
  }
}
