/* * {
  border: 1px solid lime;
} */

@import "./reset.css";
@import "./utilities.css";
@import "./productDetails.css";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Lato:wght@900&family=Merriweather:wght@300;400;700&family=Varta:wght@300;400;600;700&display=swap");

:root {
  /* text colors */
  --landing-clr-primary: #a06056;
  --landing-clr-secondary: #706458;
  --landing-clr-tertiary: rgba(112, 100, 88, 0.9);
  --landing-color-brownDark: #534b42;
  --landing-color-nigth: #121212;
  --landing-clr-navLink: var(--landing-clr-secondary);
  --landing-clr-body: var(--landing-clr-tertiary);
  /* bg colors */
  --landing-bg-color-isabelline: #f3eee8;
  --landing-input-bg: rgba(243, 238, 232, 0.3);

  /* common colors */
  --clr-white: #fff;

  /* icons color */

  /* font family */
  --ff-primary: "Merriweather", serif;
  --ff-secondary: "Varta", sans-serif;
  --ff-tertiary: "Lato", sans-serif;
  --ff-heading: var(--ff-primary);
  --ff-caption: var(--ff-secondary);
  --ff-body: var(--ff-secondary);
  --ff-cta: "Karla", sans-serif;

  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;
  --fw-mainTitle: var(--fw-light);
  --fw-heading: var(--fw-regular);
  
  /* font size */
  --fs-small: 0.875rem; /* 14px */
  --fs-medium: 1rem; /* 16px */
  --fs-large: 1.125rem; /* 18px */
  --fs-xl: 1.375rem; /* 22px */
  --fs-2xl: 2.125rem; /* 34px */
  --fs-3xl: 2.813rem; /* 45px */
  --fs-4xl: 3.438rem; /* 55px */


  --landing-fs-logo: 2.125rem;
  --landing-fs-navLink: 1.125rem;
  --landing-fs-heroCaption: 0.875rem;
  --landing-fs-heroTitle: 3.125rem;
  --landing-fs-heroDesc: 1.375rem;

  
  /* size */
  --size-50: 0.5rem; /* 8px */
  --size-100: 0.75rem; /* 12px */
  --size-200: 0.938rem; /* 15px */
  --size-300: 1.375rem; /* 22px */
  --size-400: 1.875rem; /* 30px */
  --size-500: 2.5rem; /* 40px */
  --size-600: 3.125rem; /* 50px */
  --size-700: 4.375rem; /* 70px */

  /* line height */
  --lh-100: 19.36px;
  --lh-200: 1.563rem; /* 25px */
  --lh-400: 2.5rem; /* 40px */
  --lh-500: 50.35px;


  /* letter spacing */
  --ls-400: -0.3px /* No sense to make it rem unit */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screeen and (min-width: 30em) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* color-scheme: light dark; */

/* General styling */
body {
 font-family: var(--products-primary-ff);
}
button {
  cursor: pointer;
}

a { color: inherit; text-decoration: none; } 


ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}


