.logo {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-2xl);
  letter-spacing: 2px;
  color: var(--clr-white);
}

@media screen and (min-width: 30em) {
  .logo {
    color: var(--landing-clr-primary);
    margin-right: 0.5rem;
  }
}
