.primaryNavigation {
}

.navLinks {
  display: flex;
  gap: 1rem;
  text-transform: capitalize;
}

.navLinks .navLink {
  text-decoration: none;
  color: var(--landing-clr-secondary);
  font-size: var(--fs-large);
  font-family: var(ff-secondary);
  line-height: var(--ln-200);
  font-family: var(--ff-secondary);
}

/* hide in small devices */
@media (max-width: 59.688em) {
  .primaryNavigation {
    display: none;
  }
}
