/* Styles that apply to all resolutions */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.input,
.button {
  border-radius: 1px;
  border: none;
  outline: none;
}

.input {
  background-color: var(--landing-input-bg);
  height: 50px;
  flex-shrink: 1;
  width: clamp(7.4em, 17.5vw, 16em);
}

input::placeholder {
  color: #969696;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--products-bg-tertiary);
  color: var(--clr-white);
  cursor: pointer;
  height: 50px;
  min-width: 3rem;
}
