.contentContainer {
  display: grid;
  align-items: center;
  row-gap: 1em;
}
.sectionContainer {
  background-color: var(--clr-white);
}

@media screen and (min-width: 42em) {
  .contentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
