.topBar {
  display: none;
  padding-left: unset;
}
.topBarContainer {
  background-color: var(--products-bg-tertiary);
  height: 60px;
  display: none;
}
.topBarText {
  color: var(--clr-white);
  font-weight: var(--fw-light);
  /* font-size: clamp(1rem); */
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}
.topBarButton {
  font-weight: var(--fw-light);
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}
.topBarList {
  display: flex;
}

@media screen and (min-width: 30em) {
  .topBar {
    height: 100%;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topBarContainer {
    display: block;
  }
}
@media screen and (min-width: 40em) {
  .topBar {
    padding-left: 3em;
  }
}
