.copyRightSection {
  padding-block: var(--size-400);
}

.text {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-large);
  line-height: var(--lh-200);
  color: var(--landing-clr-tertiary);
}
