.header {
  position: absolute;
  top: var(--size-600);
  width: 100%;
  z-index: 500;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--size-300);
}

.hamburguerMenu {
  width: 1.5em;
  height: 0.75em;
  display: block;
  z-index: 100;
}

.contactIcon {
  display: none;
}

@media screen and (min-width: 59.688em) {
  .navWrapper {
    justify-content: flex-start;
  }
  .hamburguerMenu {
    display: none;
  }
  .contactIcon {
    display: block;
    z-index: 100;
    visibility: visible;
    margin-left: auto;
  }
}
