.menuButtonContainer {
  background-color: var(--products-clr-primary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1em;
  grid-column: 1;
  position: relative;
  height: 4.75rem;
  z-index: 200;
}

.menuButtonContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -9999px; /* Extiende el pseudo-elemento hacia la izquierda mucho */
  right: 0;
  bottom: 0;
  background-color: var(--products-clr-primary);
  z-index: -1;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 15.813rem;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
  background: var(--clr-white);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}

dropdown.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s;
}

.dropdown ul {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  width: 100%;
}

.dropdown ul li {
  color: var(--products-clr-text-primary);
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5125rem;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 30em) and (max-width: 51.5rem) {
  .text {
    display: none;
  }
}
