.container {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin-right: auto;
}

.input,
.button {
  border-radius: 1px;
  border: none;
  outline: none;
}

.input {
  background-color: var(--landing-input-bg);
  padding: 12px 15px;
  height: 50px;
  width: 280px;
}

.button {
  background-color: var(--landing-clr-secondary);
  color: var(--clr-white);
  font-family: var(--ff-cta);
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  padding: 12px 30px;
  height: 50px;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .input {
    width: 311px; /* Fixed width for mobile */
    margin-bottom: 10px; /* Gap between input and button */
    height: auto;
    flex-grow: 1;
  }

  .button {
    width: 290px; /* Fixed width for mobile */
    height: auto;
    align-self: baseline;
  }
}

@media screen and (min-width: 41.875em) {
  .container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
  }
}
