.categoryLinks {
  display: flex;
  justify-content: center;
}

.categoryList {
  display: flex;
  grid-column: 2;
  align-items: center;
}

.linkList {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--size-300);
  flex-wrap: wrap;
}

.link {
  text-transform: uppercase;
  line-height: var(--ln-100);
  font-size: clamp(0.6rem, 1.7vw, 1rem);
}
