.legalLinksSection {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--size-300);
}

.legalLink {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-large); /* Suponiendo que se acerca a 18px */
  line-height: var(--lh-200);
  color: rgba(0, 0, 0, 0.45);
  padding-bottom: 0.6em;
}
