.hero {
  display: grid;
  height: 90vh;
  position: relative;
  align-items: center;
  justify-items: center;
}

.imageBg {
  grid-column: 1;
  grid-row: 1;
  background-image: url("/src/assets/images/LandingPage/heroImg/heroImg-small-1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.heroContent {
  grid-column: 1;
  grid-row: 1;
  justify-items: center;
  align-items: center;
  z-index: 2;
}

@media (min-width: 30em) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .imageBg {
    grid-column: 2 / 3;
    background-image: url("/src/assets/images/LandingPage/heroImg/heroImg-mid-1.webp");
  }

  .heroContent {
    grid-column: 1 / 2;
    width: 100%;

    justify-self: center;
    max-width: 35.625rem;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .imageBg {
    background-image: url("/src/assets/images/LandingPage/heroImg/heroImg-big-1.webp");
  }
}

@media (max-width: 1200px) and (min-width: 30em) {
  .heroContent {
    padding-left: 2rem;
  }
}
