.logoContainer {
  display: flex;
  align-items: baseline;
  column-gap: 0.25em;
}

.logo {
  font-family: var(--products-logo-ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-3xl);
  line-height: var(--lh-500);
  color: var(--products-clr-text-primary);
}
