.logoContainer {
  display: flex;
  align-items: baseline;
}

.logo {
  font-weight: 600;
  font-size: 1rem;
  line-height: var(--lh-100);
  color: var(--products-clr-text-primary);
}

@media screen and (min-width: 40em) {
  .logoContainer {
    display: flex;
    align-items: baseline;
    column-gap: 0.25em;
  }
  .logo {
    font-weight: var(--fw-bold);
    font-size: var(--fs-3xl);
    line-height: var(--lh-500);
  }
}
