/* main header */
.mainHeader {
  height: 150px;
  display: flex;
}

/* primary nav */
.primaryNavigation {
  height: 4.75rem;
}

.breadCrumb {
  height: 256px;
  background-color: var(--products-clr-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadCrumbList {
  display: flex;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
