.heroContentContainer {
  text-align: center;
  max-width: 35ch;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.heroSubtitle {
  color: var(--clr-white);
  font-size: var(--fs-small);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
}

.heroTitle {
  color: var(--clr-white);
  font-size: var(--fs-xxlarge);
  font-family: var(--ff-primary);
}

.heroDescription {
  color: var(--clr-white);
  font-size: var(--fs-large);
  font-family: var(--ff-secondary);
}

.scrollDownIcon {
  width: 3.125em;
  height: 3.125em;
  align-self: center;
}

@media screen and (min-width: 30em) {
  .heroContentContainer {
    text-align: left;
    max-width: 35ch;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
  }

  .heroSubtitle {
    color: var(--landing-clr-primary);
    font-size: var(--fs-small);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
  }

  .heroTitle {
    color: var(--landing-clr-primary);
    font-size: var(--fs-xxlarge);
    font-family: var(--ff-primary);
  }

  .heroDescription {
    color: var(--landing-clr-tertiary);
    font-size: var(--fs-large);
    font-family: var(--ff-secondary);
  }

  .scrollDownIcon {
    width: 3.125em;
    height: 3.125em;
    align-self: normal;
  }
}
