.cardTitle {
  font-family: var(--ff-secondary);
  color: var(--landing-clr-primary);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-xl);
  line-height: 1.875em;
}

.cardDescription {
  font-family: var(--ff-secondary);
  color: var(--landing-clr-tertiary);
  font-size: var(--fs-large);
  line-height: 25px;
  max-width: 29ch;
}
